:root {
  --ion-font-family: 'Poppins', sans-serif;

  /* Kahoot Purple - PRIMARY */
  --ion-color-primary: #46178f;
  --ion-color-primary-rgb: 70, 23, 143;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #3e147e;
  --ion-color-primary-tint: #592ea0;

  /* Kahoot Blue - SECONDARY */
  --ion-color-secondary: #1368ce;
  --ion-color-secondary-rgb: 19, 104, 206;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #115cb5;
  --ion-color-secondary-tint: #2b77d3;

  /* Kahoot Red - DANGER */
  --ion-color-danger: #e21b3c;
  --ion-color-danger-rgb: 226, 27, 60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #c71835;
  --ion-color-danger-tint: #e53250;

  /* Kahoot Green - SUCCESS */
  --ion-color-success: #26890c;
  --ion-color-success-rgb: 38, 137, 12;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-shade: #21780b;
  --ion-color-success-tint: #3c9524;

  /* Kahoot Yellow - WARNING */
  --ion-color-warning: #ffa602;
  --ion-color-warning-rgb: 255, 166, 2;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-shade: #e09202;
  --ion-color-warning-tint: #ffaf1b;

  /* Fondos de App */
  --ion-background-color: #f2f0f5; /* Un gris-morado muy claro */
  --ion-item-background: #ffffff;
  
  --safe-area-top: var(--ion-safe-area-top);
  --safe-area-bottom: var(--ion-safe-area-bottom);
}